{% extends 'DrugNinja/base.html' %}

{% block content %}
<style>
p.hidden {visibility:hidden;}
</style>

	  <div class="span10">
		  {% for question in questions %}
		  <div class="well" >
		  	<label>{{question|linebreaks}}</label>
		  	<input style="width: 80%;" id="text{{question.id}}" type="text{{question.id}}" placeholder="Answer">					
		  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		 	<script>
			$(document).ready(function() {
			$('#{{question.id}}ans').click(function(){
			$.get('/validate_final_answer/{{question.id}}/'+$("#text{{question.id}}").val(), function(data){
			var $bar = $('.bar');
			document.getElementById('{{question.id}}ans').style.visibility='hidden';
			document.getElementById('{{question.id}}feedback').style.visibility='';
			var score = +document.getElementById('lbltipAddedComment').innerHTML;

			$('#{{question.id}}feedback').html(data);
			var i = document.getElementById('{{question.id}}feedback').innerHTML;
			
			if (i=="Your answer was correct!"){
				$('#{{question.id}}feedback').parent(".well").css("background", "#8fb37d");
			}
			if (i=="Your answer was wrong!"){
				$('#{{question.id}}feedback').parent(".well").css("background", "#b35c5c");
			
			$bar.width($bar.width()-35);
			if($bar.width()<50){
				document.getElementById('animal').src='{{STATIC_URL}}img/03_12 rodney.gif';
				alert("You have killed your animal!")
			}
			else if($bar.width()<200)
				document.getElementById('animal').src='{{STATIC_URL}}img/shrek-the-halls-sad-donkey.jpg';
				
			}else{ 
			document.getElementById('lbltipAddedComment').innerHTML = score+10;
			}
			var questionsAnswered= +document.getElementById('questionsAnswered').innerHTML;
			if (questionsAnswered==9){
			document.getElementById('showCorrectAnswers').style.visibility='';
			{% for question in questions %}
			document.getElementById('{{question.id}}feedback').innerHTML = "The correct answer was {{question.answer}}"
			{% endfor %}
			}else
			document.getElementById('questionsAnswered').innerHTML = questionsAnswered+1;	
			});
			});
			});
		   </script>	
		   <a id="{{question.id}}ans" class="btn btn-success btn-small">Submit Answer</a>
		   <div class="danger" id="{{question.id}}feedback" style="visibility:hidden;" ></div>				
	    </div>
	    {% endfor %}
	 </div>
	 <div class="span4">
	 	<div class="well" data-spy="affix" data-offset-top="60%">
  <div class="progress progress-danger progress-striped">

        <div class="bar bar-danger" style="width: 100%;">Animal Life </div>
 
      </div>
        <ul class="nav nav-list" >
          <li>	  <center><img id=animal border="1" src="{{STATIC_URL}}img/136317103293.jpg" alt="Pulpit rock" width="304" height="228"></center></li>
        </ul><br>
        <strong class="lead"> Current Score: </strong>
<strong id="lbltipAddedComment">0</strong>
<strong> / 100 </strong></p>
<a id="questionsAnswered" style="visibility:hidden;">0</a>
        </div>
        
     </div>
	  
<p>
<div class="span12">

<a id="questionsAnswered" style="visibility:hidden;">0</a>
</div>
<div class="span12">
{% endblock %}

