{% extends 'DrugNinja/base.html' %}

{% block content %}
		
		<div class="row-fluid">
		  <div class="span1"></div>
		  <div class="span10">
			<div class="hero-unit">
			  <h1>Drug calculation tutorials</h1>
			  <p>The ability to perform drug calculations accurately is clearly an essential skill for Veterinary Professionals. This programme has been designed to help Vet Students understand the key principles involved in therapeutic drug calculations and to learn how to perform drug calculations.
Overall objectives of the programme
<li> To review the fundamental principles relating to units of measurement</li>
<li> To teach students “step-by-step” how to do common types of therapeutic drug calculation</li> 
<li> To allows students to practice therapeutic drug calculations</li> 
<li> To allows students to complete a self-assessment at the end of the programme</li> </p>
			  <p>
				<a href="/topic/0" class="btn btn-primary btn-large">
				  Learn drug calculations
				</a>
			  </p>
			</div>
		  </div>
		  		</div>


{% endblock %}
